<!--<button>Presióname</button>
<br>
<button mat-button color="primary">Presióname</button>
<br>
<button mat-raised-button color="accent">Elevados</button>
<br>
<button mat-stroked-button color="warn">Con bordes</button>
<br>
<button mat-icon-button color="primary">
  <mat-icon>home</mat-icon>
</button>
<br>
<button mat-button color="warn">
  <mat-icon>more_vert</mat-icon>
  Menu
</button>
<br>
<button mat-flat-button color="accent">Botón plano</button>
<br>
<button mat-fab color="primary">
  <mat-icon>face</mat-icon>
</button>
<br>
<button mat-mini-fab>
  <mat-icon>build</mat-icon>
</button>-->

<!-- BUTTON TOGGLE
<mat-button-toggle-group vertical="true" (change)="botonSeleccionado($event)">
  <mat-button-toggle value="1">Opcion1</mat-button-toggle>
  <mat-button-toggle value="2">Opcion2</mat-button-toggle>
</mat-button-toggle-group>
-->

<!-- Controles de progreso
<mat-progress-bar mode="determinate" [value]="avance"></mat-progress-bar>
<h3 style="text-align:center">{{avance}}% </h3>

<mat-progress-spinner mode="determinate" [value]="avance"></mat-progress-spinner>
-->

<!-- <div fxLayout fxLayoutAlign="center">
	<form [formGroup]="signIn" (ngSubmit)="ingresar()" fxLayout="column" fxFlex="400px" fxLayoutGap="12px">
		<mat-form-field>
			<input type="email" matInput placeholder="Ingrese su correo" formControlName="correo">
			<mat-hint>No correo gratuito</mat-hint>
			<mat-error *ngIf="signIn.get('correo').hasError('required')">El campo es requerido</mat-error>
			<mat-error *ngIf="!signIn.get('correo').hasError('required') && signIn.get('correo').hasError('email')">Tiene que tener el formato de correo</mat-error>
		</mat-form-field>
		<mat-form-field hintLabel="Contraseña reservada">
			<input type="password" matInput placeholder="Ingrese su contraseña" #contrasena formControlName="contrasena">
			<mat-hint align="end">{{contrasena.value ? contrasena.value.length : '0'}} de 8</mat-hint>
			<mat-error>La contraseña es requerida</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input type="text" matInput [matDatepicker]="fecha" placeholder="Fecha de nacimiento" [max]="fechaMaxima" [min]="fechaMinima" forControlName="fecha">
			<mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
			<mat-datepicker #fecha></mat-datepicker>
		</mat-form-field>
		<div>
			<mat-checkbox formControlName="terminos">¿Estás de acuerdo con los terminos?</mat-checkbox>
		</div>
		<mat-form-field>
			<mat-select placeholder="Ingresa tu color favorito" value="1" (selectionChange)="cambiarColor($event)">
				<mat-option value="0">Azul</mat-option>
				<mat-option value="1">Verde</mat-option>
				<mat-option value="2">Amarillo</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-radio-group formControlName="sexo">
			<mat-radio-button value="hombre">Hombre</mat-radio-button>
			<mat-radio-button value="mujer">Mujer</mat-radio-button>
		</mat-radio-group>
		<mat-error *ngIf="signIn.get('sexo').touched && signIn.get('sexo').hasError('required')">Elija el sexo</mat-error>
		<button mat-raised-button color="warn">Ingresar</button>
	</form>
</div> -->

<!-- <article>
	<div class="rojo"></div>
	<div class="verde"></div>
	<div class="amarillo"></div>
</article> -->

<button mat-raised-button color="primary" (click)="abrirPopup()">Abrir Popup</button>
