
<div class="container">
  <div class="row">
      <div class="col-6">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Curso</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let curso of listado">
              <td>{{curso.idCurso}}</td>
              <td>{{curso.title}}</td>
              <td>
								<!-- <a href="#" class="btn btn-success" (click)="editar(curso.idCurso)">Editar</a> -->
								<button class="btn btn-success" (click)="editar(curso.idCurso)"> Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
