<form (ngSubmit)="agregar()" #f="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="servidor.nombre">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Proveedor" name="proveedor" [(ngModel)]="servidor.proveedor">
  </div>
  <div class="form-group">
    <textarea name="descripcion" id="" cols="30" rows="10" [(ngModel)]="servidor.descripcion" placeholder="Descripción" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="IP" name="ip" [(ngModel)]="servidor.ip">
  </div>
  <div class="form-group">
    <button class="btn btn-large btn-success" [disabled]="!f.valid">Agregar</button>
  </div>
</form>