
mat-sidenav-container, 
mat-sidenav, 
mat-sidenav-content {
	height: 100%;
}

mat-sidenav {
	width: 250px;
}

nav ul {
	list-style: none;
	padding: 0;
}

/* nav li {
	display: inline-block;
} */

nav a, 
nav a:link {
	text-decoration: none;
	color: white;
}

nav a:active, 
nav a:hover {
	color: lightgray;
}

mat-sidenav span {
	display: inline-block;
	padding-left: 10px;
}
