

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title #{locals.titulo}

		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700")
		link(rel="stylesheet", href="/materialize/css/materialize.min.css")
		link(rel="stylesheet", href="/css/style.css")
	body

		nav.blue.lighten-3
			.nav-wrapper
				a.brand-logo(href='#') #{locals.titulo}
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href='/products') Productos
		
		block contenido
