
<mat-card fxFlex="400px">
  <mat-card-header>
    Registro
  </mat-card-header>
  <mat-card-content>
    <form action="" fxLayout="column" [formGroup]="ingreso">
      <mat-form-field>
        <input type="text" name="" id="" matInput placeholder="Correo" required email formControlName="correo">
        <mat-error *ngIf="ingreso.get('correo').hasError('required')">
          El correo es requerida
        </mat-error>
        <mat-error *ngIf="!ingreso.get('correo').hasError('required') && ingreso.get('correo').hasError('email')">
          Debe tener formato de correo
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="" id="" matInput placeholder="Contraseña" required formControlName="contrasena">
        <mat-error>
          La contraseña es requerida
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="center">
    <button mat-raised-button color="warn" [disabled]="!ingreso.valid" (click)="registro()">
      Registrar
    </button>
  </mat-card-actions>
</mat-card>
  